[Desktop Entry]
Name=LangTrainer
Comment=LangTrainer application
GenericName=LangTrainerApp
Exec=AppRun
Terminal=false
Type=Application
Icon=icon
Categories=Education;Languages;
Keywords=langtrainer;words;dialogs;
StartupWMClass=LangTrainer
StartupNotify=true
